<h1>Messages</h1>

<%= link_to 'New Message', new_message_path %>

<hr>

<h2>Inbox</h2>
<div class="row">
  <div class="col-sm-4">
    <% if @inbox.present? %>
      <ul class="list-group"><%= render @inbox %></ul>
    <% else %>
      <div class="alert alert-warning">
        No messages yet!
      </div>
    <% end %>
  </div>
</div>

<hr>

<h2>Sent</h2>
<div class="row">
  <div class="col-sm-4">
    <% if @sent.present? %>
      <ul class="list-group"><%= render @sent %></ul>
    <% else %>
      <div class="alert alert-warning">
        No messages yet!
      </div>
    <% end %>
  </div>
</div>
