<p>Hey there, <%= @recipient.to_s %>!</p>

<p><%= @notification.sender.to_s %> sent you a message:</p>

<blockquote>
  <%= simple_format @notification.trigger.content %>
</blockquote>

<p>Cheers!</p>
